:root {
    --border-color: rgb(185, 185, 185);
    --border-radius: 6px;
    --black-color: #333;
    --caption-color: #3B5998;
    --inf-color: rgb(181, 181, 181);
    color: var(--black-color);
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

.title {
    margin-bottom: 0.3rem;
    font-weight: bold;
    font-size: 17pt;
    color: var(--caption-color);
}

.information {
    font-size: 12pt;
    color:var(--inf-color);
}

article .body {
    border-left: 5px solid var(--inf-color);
    padding-left: 10px;
}

.attachment {
    font-size: 11pt;
    color:var(--inf-color);
    list-style-type: none;
    padding-left: 0;
}

.attachment li {
    background-image: url('../img/paperclip-16x16.png');
    background-repeat: no-repeat;
    padding-left: 25px;
}

article {
    margin: 10pt;
}

article .footer {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    width: 100%;
    display: inline-block;
    position: relative;
    margin-top: 2pt;
}

.positive-score {
    color: darkgreen;
    font-weight: bold;
    font-size: 12pt;
    margin: 0 0.5rem;
}

.left {
    float: left;
    display: flex;
    align-items: center;
}

.right {
    float: right;
}